    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px black solid;
        width: 60%;
        padding: 30px;
        margin: auto;
        margin-top: 20px;
    }
    
    form>input:last-child {
        width: 20%;
    }
    
    input {
        margin: 10px;
        width: 100%;
        height: 30px;
        font-size: large;
    }
    
    .contactUsLabel {
        font-size: large;
    }
    
    body {
        background-color: gray;
    }
    
    .aboutUsBody {
        font-size: large;
    }
    
    .homeH1 {
        background-color: goldenrod;
        text-align: center;
    }
    
    .topnav {
        background-color: goldenrod;
        ;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }
    
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        height: 35px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .topnav a:hover {
        background-color: rgb(244, 245, 237);
        color: black;
    }
    
    .membersBody {
        text-align: center;
        display: block;
        align-self: center;
    }
    
    footer {
        text-align: center;
        color: black;
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
    
    @media screen and (max-width: 600px) {
        footer {
            flex-direction: column;
        }
        img {
            width: 100%;
        }
        form {
            width: 80%;
        }
    }
    
    @media screen and (max-width: 1240px) {
        form>input:last-child {
            font-size: small;
        }
        .homeH1 {
            font-size: medium;
        }
        img {
            margin: auto;
            display: flex;
            margin-bottom: 15px;
            width: 80%;
        }
    }